# Stolen from https://github.com/DSRCorporation/esl-nsdk/blob/master/.gitignore

# ARM GCC build artifacts
_build

# uECC stuff
external/micro-ecc/micro-ecc/
external/**/*.lib
external/**/*.a

# Emacs TAGS and environment
TAGS
.dir-locals.el

# strange settings.json
.vscode/settings.json